services:
  frontend:
    build:
      target: dev
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    ports:
      - "3000:3000"
    environment:
      WDS_SOCKET_HOST: "frontend"
      WDS_SOCKET_PORT: "3000"
      WDS_SOCKET_PATH: "/_next/webpack-hmr"
    command: npm run dev

  backend:
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql+psycopg2://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_DATABASE}
      APP_ENV: development
    env_file:
      - ./backend/.env
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      db:
        condition: service_healthy

  # 開発用 DB（PostgreSQL）
  db:
    image: postgres:15-alpine
    container_name: postgres_db_dev
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_DATABASE} -h localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data: