/* 現状は使用していない */
.menuStyle {
  position: "relative";
  display: "inline-block";
}

.menuButtonStyle {
  cursor: "pointer";
  color: "black";
  fontSize: 18px;
  padding: "4px 8px";
  borderRadius: "50%";
  lineHeight: 1;
  background: 'none';
  border: 'none';
  :hover {
    backgroundColor: '#eee',
  }
}

.dropdownStyle {

}

.menuItem {

}
